<h1>User Name's Summer Bucket List</h1>
<h2>You are viewing: {{user.username}}</h2>
    <a href="/users">Return to Users</a>

    <div class="list-container">
    <h2 id="user-name">{{user.username}}</h2>
    <br>
    <ul>
      {{#each user.list}}
      <li>List{{user.list.name}}</li>
      <li>Completed?: {{user.list.completed}}</li>
    <br>
    {{/each}}
    </ul>

    <button><a href="/users/{{user.id}}/edit">Add New List</a></button>

    </div>
