<ul>
  {{#each users}}
    <li><a href="/users/{{this.id}}">{{this.first_name}}</a></li>
    <li>{{this.email}}</li>
    <br/>
  {{/each}}
</ul>

<div class="add"><a href="/users/new">Add New User</a></div>
<ul>
  {{#each items}}
    <li>{{this.name}}</li>
    <div>
      <form action="/users/{{../user.id}}/items/{{this.id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Item"/>
      </form>
    </div>
    <br/>
  {{/each}}
</ul>
